asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
cloudinary==1.19.1
Django==2.2.9
django-cloudinary-storage==0.2.3
django-grappelli==2.13.3
idna==2.8
mock==3.0.5
Pillow==7.0.0
pytz==2019.3
requests==2.22.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.7
