{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <section class="section">
        <div class="container">
            <form method="post" id="order-form">
                {% csrf_token %}
                <div class="columns">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="button is-link">submit</button>
            </form>
        </div>
    </section>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'shop/js/stateSync.js' %}"></script>
    <script src="{% static 'shop/js/orderform.js' %}"></script>
{% endblock %}